
AutocompleteTestProject\.xcodeproj/xcuserdata/hugobosc-ducros\.xcuserdatad/xcdebugger/

.DS_Store

AutocompleteTestProject.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

AutocompleteTestProject.xcodeproj/project.xcworkspace/xcuserdata/hugobosc-ducros.xcuserdatad/
